*{
    box-sizing: border-box;
  }
  body {
    font-family: 'Montserrat', sans-serif;
      /* text-align: center; */
      color: #33475b;
      background-color: #fff;
      margin: 0%;
      
    }

#meeting-info{
    width: 100%;
    height: 80vh;
    /* border: 1px solid red; */
    background-color: #385470;
}
#meeting-info>h1{
font-size: 45px;
font-family: 900;
width: 60%;
margin:auto;
text-align: center;
color: white;
padding-top:100px ;
line-height: 59px;
}
#meeting-info>p{
    font-size: 17px;
font-family: 400;
width: 60%;
margin:auto;
text-align: center;
color: white;
margin-top: 30px;
margin-bottom: 40px;
}

#meeting-button-2{

    width: 150px;
    height: 50px;
    font-size: 15px;
    border-radius: 2px;
    cursor: pointer;
    background-color: #385470;
    color: white;
    border: 1px solid white;
    transition: background-color 0.5s ease;
    
    outline: none;
    font-weight: 700;
}
#meeting-button-2:hover{
    background-color: white;
    color: #385470;
}

#meeting-button-1{

    width: 250px;
    height: 50px;
    font-size: 15px;
    border-radius: 2px;
    cursor: pointer;
    background-color: white;
    color: #385470;
    border: none;
    transition: background-color 0.5s ease;
    
    outline: none;
    font-weight: 700;
}
#meeting-button-1:hover{
    background-color: #82a8c5;
}

#meeting-info>div{
    width: 30%;
    margin: auto;
}
